body {
  background: #F5F5F5;
  color:#333333;
  font-family: Verdana;
}
p2 {
  font-family: Verdana;
  color:red;
  text-align:center;
}
/* title and subtitle styles */
h1 {
  text-align: center;
  color: #E63946;
  text-shadow: #333333 2px 2px;
  font-size: 45px;
}

h2 {
  text-align: space-around;
  color: #1D3557;
  text-shadow: #333333 1px 1px;
  font-size: 30px;
}

h3 {
  text-align: center;
  color: #457B9D;
  text-shadow: #333333 1px 1px;
  font-size: 22px;
  text-decoration: underline;
}

/* general image style  */
img {
  width: 300px;
  border-style: solid;
  border-color: #F4A261;
  box-shadow: 2px 2px;
}
.comicpics {display:flex;
  justify-content: center;
  width:240px;
  height:320px;
}
.storytelling {color:pink;}
.protagonist {color:purple;}
.infoprotagonist {color:orange;}
.supportingcast {color:blue;}
.panels {color:red;}
.perspectives {color:green;}
.lastimages {color:yellow;}
.imagecitation {color:orchid;}
