body {
  background-color:#0c131c;
}
h1, p {
  color:#c8e0f4;
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5b6d85;
}

li {
  float: left;
}

li a {
  display: block;
  color: #d5e5f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:courier new;
}

li a:hover {
  background-color: #4a586b;
}

.active {
  background-color: #0c131c;
}
