* {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    color:#1A4202;

}
h1 {
    font-size:38pt;
}
h2 {
    font-size:28pt;
}
p {
    font-size:20pt;
}
hr {
  height:5px;
  background-color: #FFEEF4;
  border-style:none;
}
body {
  background-color:#FCFFF8;
}

/*font embed
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8ffee;
}

li {
  float: left;
}

li a {
  display: block;
  color: #c0317b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:courier new;
}

li a:hover {
  background-color: #f8ffee;
}

.active {
  background-color: #c3cdb5;
}
