body {background-color: Thistle;}

h1 {text-align:center;}

h3 {text-align:center;
   font-family: "Courier New";
   font-color: #db7093;
   }

img {border-style: solid;
     border-width: 2px;
     border-color: #ffffff;
}
.projectimages {
  display: flex;
}
