body {
  background-color: rgb(180, 197, 228);
}
h1   {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue;
}
h2    {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
p     {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: aliceblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 60px;
  background-color:white;
}
img  {
    float:right;
    border-color: aliceblue;
    border-width: 6px;
    border-style: dotted;
    height:100%
}
